<div class="footernav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Orders</h3>
        <p>Fast Shipping</p>
        <p>Live Tracking</p>
        <p>Return Policy</p>
        <p>Terms & Conditions</p>
      </div>
      <div class="col-sm-4">
        <h3>About</h3>
        <p>Deliver All Over India</p>
        <p>Good Packing</p>
        <p>Contact Us</p>
      </div>
      <div class="col-sm-4">
        <h3>We are on</h3>
        <div class="icons">
          <div style="margin: 10%">
            <i class="bi bi-twitter icon"></i>
          </div>
          <div style="margin: 10%">
            <i class="bi bi-facebook icon"></i>
          </div>
          <div style="margin: 10%">
            <i class="bi bi-instagram icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <br />
        <h3>Enjoy shopping with us....<i class="bi bi-emoji-smile"></i></h3>
        <div>
          <p>eshop@ecommerce.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
