<div class="footernav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Orders</h3>
        <p>Fast Shipping</p>
        <p>Live Tracking</p>
        <p>Return Policy</p>
        <p>Terms & Conditions</p>
      </div>
      <div class="col-sm-4">
        <h3>About</h3>
        <p>Deliver All Over India</p>
        <p>Good Packing</p>
        <p>Contact Us</p>
      </div>
      <div class="col-sm-4">
        <h3>We are on</h3>
        <div class="icons">
          <div style="margin-right: 10%">
            <i class="bi bi-twitter"></i>
          </div>
          <div style="margin-right: 10%">
            <i class="bi bi-facebook"></i>
          </div>
          <div style="margin-right: 10%">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <h3>Enjoy Our Services With Your Valuable Money</h3>
        <div style="margin-top: 45px">
          <h5 style="opacity: 0.7">
            <i
              style="padding-right: 6px; opacity: 1"
              class="fa-solid fa-envelope"
            ></i
            >eshop@ecommerce.com
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
