<div class="confirm_page">
  <div>
    <div class="indiator">
      <ul class="progressbar">
        <li class="active">Accounts</li>
        <li class="active">Shipping</li>
        <li class="active">Payment</li>
        <li class="active">Complete</li>
      </ul>
    </div>
  </div>
  <div class="tank_u">
    <h1>Thank you for your order!</h1>
  </div>

  <div class="sd">
    <h3>Shipping Details</h3>
    <h4>Your Order Number:125453714</h4>
    <h5>Date : {{ currentDate | date: "yyyy-MM-dd h:mm:ss" }}</h5>
    <div>
      <app-item></app-item>
    </div>
  </div>
  <div class="back_shop">
    <button routerLink="/">Back To Shopping</button>
  </div>
</div>
