<div class="shipping_page">
  <div class="indiator">
    <ul class="progressbar">
      <li class="active">Accounts</li>
      <li class="active">Shipping</li>
      <li>Payment</li>
      <li>Complete</li>
    </ul>
    <h1>Enter your delivery address details</h1>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="shipping_form">
        <h2>Shipping Address</h2>
        <form action="" class="form_div">
          <input type="text" placeholder="Full Name" />
          <br />
          <input type="text" placeholder="Mobile Number" />
          <br />
          <input type="text" placeholder="Pincode" />
          <br />
          <input type="text" placeholder="Flat,House no.,Company,Apartment" />
          <br />
          <input type="text" placeholder="Area,Street,Sector,Village" />
          <br />
          <input type="text" placeholder="Landmark" />
          <br />
          <input type="text" placeholder="Town/City" />
          <br />
          <input type="text" placeholder="State" />
          <br />
          <button routerLink="/payment">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-4">
      <div class="item_com">
        <app-item></app-item>
      </div>
    </div>
  </div>
</div>
