<div class="shipping_page">
  <div class="indiator">
    <ul class="progressbar">
      <li class="active">Accounts</li>
      <li class="active">Shipping</li>
      <li>Payment</li>
      <li>Complete</li>
    </ul>
    <h1>Enter your delivery address details</h1>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="shipping_form">
        <h2>Shipping Address</h2>
        <form action="" class="form_div" [formGroup]="addressForm">
          <input
            type="text"
            placeholder="Full Name"
            formControlName="username"
            required
          />
          <br />
          <input
            type="number"
            placeholder="Mobile Number"
            formControlName="mobile"
            required
          />
          <br />
          <input
            type="number"
            placeholder="Pincode"
            formControlName="pincode"
            required
          />
          <br />
          <input
            type="text"
            placeholder="Flat,House no.,Company,Apartment"
            formControlName="flatno"
            required
          />
          <br />
          <input
            type="text"
            placeholder="Area,Street,Sector,Village"
            formControlName="village"
            required
          />
          <br />
          <input
            type="text"
            placeholder="Landmark"
            formControlName="landmark"
            required
          />
          <br />
          <input
            type="text"
            placeholder="Town/City"
            formControlName="town"
            required
          />
          <br />
          <input
            type="text"
            placeholder="State"
            formControlName="State"
            required
          />
          <br />
          <button
            [disabled]="addressForm.invalid"
            type="submit"
            routerLink="/payment"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="col-4">
      <div class="item_com">
        <app-item></app-item>
      </div>
    </div>
  </div>
</div>
