.price {
  text-align: right;
  color: rgb(21, 56, 109);
  margin-top: -30px;
  font-weight: 800;
}
.checkout_product {
  border: solid 1px rgb(219, 218, 218);
  display: flex;
}
.checkout_product_img {
  object-fit: contain;
  width: 190px;
  max-height: 200px;
}
.checkout_product_image {
  margin: 3px;
}
.checkout_product_info {
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
}
.checkout_product_title {
  color: rgb(17, 45, 82);
  font-size: 17px !important;
  font-weight: 700 !important;
  line-height: 1.255 !important;
}
.checkout_product_info > img {
  object-fit: contain;
  height: 200px;
}
.checkout_product_in_stock {
  color: rgb(6, 139, 6);
  font-size: 12px !important;
  line-height: 1.5 !important;
  margin-left: 5px;
}
.checkout_product_gift {
  display: flex;
  flex-direction: row;
}
.checkout_product_in_gift > input {
  margin-left: 5px;
  margin-left: 5px;
}
.check_product_more {
  text-decoration: none;
  margin: 8px;
  color: rgb(29, 39, 44);
}
.checkout_options {
  display: flex;
}
.checkout_options > a {
  text-decoration: none;
  margin: 8px;
  color: rgb(13, 89, 119);
  height: 20px;
  font-size: 12px !important;
  padding-left: 8px;
  border-left: solid lightblue 1px;
  cursor: pointer;
}
.ckeckout_product_price {
  /* display: flex;
    flex-direction: column; */
  margin-top: 10px;
  margin-left: 350px;
  text-align: right;
  float: right;
  line-height: 1.255 !important;
  font-size: 17px !important;
  display: inline;
}
/* .checkout_products_subtotal {
  
  
  text-align: right;
  font-size: 17px !important;
  line-height: 2.25 !important;
} */
.checkout_products_subtotal {
  text-align: right;
  font-size: 17px !important;
  line-height: 2.25 !important;
  width: 100%;
  font-size: 17px !important;
  border-top: solid 1px rgb(219, 218, 218);
}
mat-form-field {
  background-color: gray;
}
