.payment_mod {
  border: 2px solid whitesmoke;
  width: 600px;
  margin: 10px;
  margin-left: 100px;
}
.payment_mod > h2 {
  font-family: cursive;
  margin-left: 90px;
}
.payment_options {
  width: 500px;
  align-items: center;
  margin-left: 45px;
  margin-bottom: 10px;
  font-size: 15px;
}
.payment_options > button {
  margin: 10px 0px 0px 50px;
  background-color: #72d4f5;
  border-radius: 4px;
}
.pod_btn {
  margin: 10px 0px 10px 150px;
}
.pod_btn > button {
  background-color: #4caf50;
  border-color: rgb(39, 138, 64);
  border-radius: 4px;
}
.card_pay {
  border: 1px solid whitesmoke;
  margin: 5px;
  padding: 15px;
  padding-left: 20px;
  margin-left: 50px;
}
.card_pay > input {
  margin: 4px;
}
.card_pay > label {
  margin: 4px;
}
.card_no {
  width: 60%;
}
.expire_d {
  width: 20%;
}
.cvv_n {
  width: 20%;
}
.cvv_l {
  margin-left: 60px;
}
.card_na {
  width: 54%;
}
.card_btm_otp {
  margin: 5px 0px 5px 170px;
  border-radius: 4px;
  background-color: #f44336;
  background-color: #db2b1f;
}
.card_otp_btn_con {
  border: 1px solid whitesmoke;
  margin: 5px;
  padding: 15px;
  padding-left: 20px;
  margin-left: 50px;
  text-align: center;
}
.card_otp_btn_con > input {
  margin: 5px;
}
.card_otp_btn_con > button {
  background-color: #4caf50;
  border-color: rgb(39, 138, 64);
  margin: 5px;
  border-radius: 4px;
}
.upipay {
  border: 1px solid whitesmoke;
  margin: 5px;
  padding: 15px;
  padding-left: 20px;
  margin-left: 50px;
  text-align: center;
}
.upipay > input {
  margin: 5px;
}
.upipay > button {
  margin: 5px;
  border-radius: 4px;
  background-color: #f44336;
  background-color: #db2b1f;
}

.upi_otp {
  border: 1px solid whitesmoke;
  margin: 5px;
  padding: 15px;
  padding-left: 20px;
  margin-left: 50px;
  text-align: center;
}
.upi_otp > input {
  margin: 5px;
}
.upi_otp > button {
  background-color: #4caf50;
  margin: 5px;
  border-radius: 4px;
  border-color: rgb(39, 138, 64);
}
.payment_item {
  text-align: center;
  border: solid 2px whitesmoke;
  height: 150px;
  width: 350px;
  margin: -100px 0px 0px 50px;
  padding: 20px;
}
.indiator {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 15%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  height: 25px;
  line-height: 30px;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
  font-weight: 600;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: rgb(15, 15, 15);
}
.progressbar li.active:before {
  border-color: rgb(66, 224, 106);
}
.progressbar li.active + li:after {
  background-color: rgb(21, 163, 168);
}
.indiator > h1 {
  font-family: cursive;
  margin: 10px 0px 10px 100px;
}
